*{
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}
body, html{
  margin: 0 !important;
  height: 100%;
  #root{
    background-image: url(../images/bg.jpg);
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    .App{
      .header-wrapper{
        .header-back{
          filter: blur(8px);
        -webkit-filter: blur(8px);
        }
        header{
          .sideMenu-Toolbar{
            display: flex;
            .sideMenu_icon-wrapper{
              display: none;
              button{
               .menu-icons{
                  width: 20px;
                } 
              }
            }
            .input-search_icon-wrapper{
              flex-grow: 3;
              padding: 20px;
              position: relative;
              img{
                opacity: .4;
                width: 16px;
                position: absolute;
                bottom: 33px;
                padding: 0 13px;
              }
              div{
                padding: 4px 40px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.2);
              }
            }
            .main-header-wrapper{
              flex-grow: 3;
              .main-header{
                font-size: 20px;
                font-weight: bold;
                color: #252837;
              }
            }
            .button-login-register_button-wrapper{
              display: flex;
              justify-content: flex-end;
              flex: 1;
              .login-button{
                min-width: 120px;
                min-height: 40px;
                margin: 0 5px;
                color: #252837;
                //background-color: #2b65e3;
                background-color: #ffef02;
              }
              .register-button{
                min-width: 120px;
                min-height: 40px;
                margin: 0 5px;
                color: #fff;
                background-color: #252837;
              }
            }
          }
        }
      }
      .series{
        width: 90vw;
        height: 600px;
        margin: 30px auto 0 auto;
        display: flex;
        justify-content: center;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        .GOT{
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 250px;
          height: 230px;
          margin: 30px 10px 0 10px;
          img{
            width: 250px;
          }
          .gotInfo{
            position: relative;
            top: 3px;
            border-radius: 0 0 10px 10px;
            height: 100%;
            width: 100%;
            background-color: rgba(15, 16, 22, .5);
            display: flex;
            flex-direction: column;
            .gotInfo_header{
              font-weight: bold;
              font-size: 20px;
              color: #fff;
              opacity: .7;
              padding: 5px 15px;
            }
            .gotInfo_seasons{
              font-size: 12px;
              padding: 0 15px;
              color: #ffef02;
              opacity: .5;
              display: flex;
            }
            .gotInfo_episodes{
              font-size: 12px;
              padding: 0 15px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width:639px) and (min-width:320px){
  body #root .App .header-wrapper header .sideMenu-Toolbar .main-header-wrapper, html #root .App .header-wrapper header .sideMenu-Toolbar .main-header-wrapper{
    display: flex;
    justify-content: center;
  }
  body #root .App .header-wrapper header .sideMenu-Toolbar .sideMenu_icon-wrapper, html #root .App .header-wrapper header .sideMenu-Toolbar .sideMenu_icon-wrapper{
    display: block;
  }
  body #root .App .header-wrapper header .sideMenu-Toolbar .button-login-register_button-wrapper, html #root .App .header-wrapper header .sideMenu-Toolbar .button-login-register_button-wrapper{
    display: none;
  }
  body #root .App .header-wrapper header .sideMenu-Toolbar .input-search_icon-wrapper, html #root .App .header-wrapper header .sideMenu-Toolbar .input-search_icon-wrapper{
    display: none;
  }
}

.GOT:hover{
  cursor: pointer;
  transform: translate(0, 5px);
}